# qcril.so needs access to /vendor/radio/qcril_database/qcril.db
allow rild vendor_file:file ioctl;

allow rild diag_device:chr_file { read write open ioctl };

set_prop(rild, vendor_default_prop)
